<!DOCTYPE html>
<html><head><title></title>
<link rel="stylesheet" type="text/css" href="../styles/app.css" />    
</head><body>
    <div>
        <div id="logo"></div>
        <div id="interactive">
            <div id="topHeaderWrapper"></div>
            <div id="textBox">
                <ul id="list"></ul>
            </div>
        </div>
        <div id="controlsWrapper">
            <div id="leftBtn" class="btn" data-action="previousSlide"></div>
            <div id="pauseBtn" class="btn" data-action="pauseSlide"></div>
            <div id="rightBtn" class="btn" data-action="nextSlide"></div>
        </div>
    </div>
</body></html>