<!DOCTYPE html>
<html><head><title></title>
    
<link rel="stylesheet" type="text/css" href="../styles/app.css" />    
</head><body>
    <div>
        <div id="topBlueBar"></div>
        <div id="logo"></div>
        <div id="interactive">
            <div id="questionTitle">
                End Screen
            </div>
            <div id="textBox2">
                Text in here text in here text in here text in here
            </div>
        </div>
        <div id="controlsWrapper">
            <div id="leftBtn" class="btn" data-action="previousSlide"></div>
            <div id="pauseBtn" class="btn" data-action="pauseSlide"></div>
            <div id="rightBtn" class="btn" data-action="nextSlide"></div>
        </div>
    </div>
</body></html>