
@font-face {
  font-family: 'CalistoMT';
  src: url('CalistoMT.eot?#iefix') format('embedded-opentype'),  url('CalistoMT.woff') format('woff'), url('CalistoMT.ttf')  format('truetype'), url('CalistoMT.svg#CalistoMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
